// GENERAL PROJECT STYLES

body, .modal
	padding-right: 0!important

.wrapper
	margin-top: 3.75rem

.section
	padding-top: 6.25rem
	padding-bottom: 5rem

//NEW CLASS ITEM
.text-item
	color: var(--item-color)

.text-gradient
	background: var(--gradient-accent)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

.strip
	display: block
	width: 100%
	height: 40px
	background: var(--gradient-accent)
	position: absolute
	bottom: 15%

.tiny
	font-size: .7rem
	&-little
		font-size: .4rem

.btn-accent
	background: var(--gradient-accent)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	border: 2px solid var(--accent)
	&:is(:hover, :focus)
		border: 2px solid var(--accent)
		box-shadow: var(--box-shadow)

.btn-link
	--bs-btn-active-color: var(--text-color)
	display: inline-block
	font-weight: 300
	padding: 0
	border: 0
	margin: 0
	color: var(--item-color)
	background-color: var(--transparent)
	transition: color var(--trt-1)
	&:hover
		color: var(--accent)
	&:active, .active
		color: var(--bs-btn-active-color)

.btn-icon
	display: flex
	align-items: center
	gap: .5rem
	padding: 0
	margin: 0
	border: none
	color: var(--text-color)
	background-color: var(--transparent)
	transition: color var(--trt-1)
	svg
		fill: var(--text-color)
		transition: fill var(--trt-1)
	&:hover
		color: var(--accent)
		svg
			fill: var(--accent)
	&:active
		color: var(--item-color)
		svg
			fill: var(--item-color)

.btn-custom
	background-color: var(--transparent)

.btn-close-custom
	background: var(--transparent)
	svg
		display: block
		width: 100%
		height: 100%
		fill: var(--accent)
		object-fit: cover

.btn-close-word
	width: 100px
	background-position: 90%

.btn-scroll-top
	display: block
	width: 3.125rem
	height: 3.125rem
	padding: .25rem
	bottom: 2rem
	right: 2rem
	z-index: 1030
	transition: var(--trt-1)
	svg
		display: block
		width: 100%
		height: 100%
		object-fit: cover
		stroke: var(--body-color)

.btn-arrow
	display: flex
	align-items: center
	gap: 1rem
	transition: color var(--trt-1)
	&:hover
		svg
			transition: var(--trt-1)
			transform: translateX(.25rem)

.btn.btn-applepay
	color: var(--text-applepay)
	background-color: var(--body-applepay)
	&:focus
		background-color: var(--body-applepay)
	&:hover
		color: var(--text-applepay)
		background-color: var(--body-applepay)
		opacity: .75
	&:active, .active
		color: var(--text-applepay)
		background-color: var(--body-applepay)
		opacity: 0.5
		transition: none
	.icon-applepay
		margin-top: .15rem
.btn.btn-paypal
	background-color: var(--body-paypal)
	&:focus
		background-color: var(--body-paypal)
	&:hover
		background-color: var(--body-paypal)
		opacity: .75
	&:active, .active
		background-color: var(--body-paypal)
		opacity: 0.5
		transition: none
.btn.btn-amazonpay
	background-color: var(--body-amazonpay)
	&:focus
		background-color: var(--body-amazonpay)
	&:hover
		background-color: var(--body-amazonpay)
		opacity: .75
	&:active, .active
		background-color: var(--body-amazonpay)
		opacity: 0.5
		transition: none
.btn.btn-afterpay
	background-color: var(--body-afterpay)
	&:focus
		background-color: var(--body-afterpay)
	&:hover
		background-color: var(--body-afterpay)
		opacity: .75
	&:active, .active
		background-color: var(--body-afterpay)
		opacity: 0.5
		transition: none
.btn.btn-klarma
	background-color: var(--body-klarma)
	&:focus
		background-color: var(--body-klarma)
	&:hover
		background-color: var(--body-klarma)
		opacity: .75
	&:active, .active
		background-color: var(--body-klarma)
		opacity: 0.5
		transition: none

.btn-applepay, .btn-paypal, .btn-amazonpay, .btn-afterpay, .btn-klarma
	display: flex
	align-items: center
	justify-content: center
	font-size: 1.25rem
	font-weight: 300
	gap: .5rem
	height: 3rem
	border: none
	opacity: 1
	transition: opacity var(--trt-1)

.brackets
	&::before
		content: '('
	&::after
		content: ')'

.icon
	display: inline-block
	svg
		display: block
		width: 100%
		height: 100%
		fill: var(--accent)
		object-fit: cover
	&-favorite
		width: 1.25rem
		height: 1.25rem
		&--outline
			display: block
			width: 2.8rem
			height: 2.8rem
			cursor: pointer
			svg
				fill: none
				stroke: var(--text-color)
				stroke-width: 3px
				object-fit: cover
				transition: fill var(--trt-1), stroke var(--trt-1)
			&:is(:hover, :focus)
				svg
					stroke: var(--accent)
			&:active, &.active
				svg
					fill: var(--accent)
					stroke: none
	&-star
		width: 1rem
		margin-inline: .3rem
		cursor: pointer
		svg
			fill: var(--text-color)
		&.active
			svg
				fill: var(--accent)
	&-watched
		width: .9rem
		margin-inline: .3rem
	&-bag
		width: 1.25rem
		height: 1.25rem
		cursor: pointer
	&-order
		width: 1.25rem
		height: 1.25rem
		cursor: pointer
	&-gears
		width: 1.25rem
		height: 1.25rem
		cursor: pointer
	&-account
		width: 1.25rem
		height: 1.25rem
		cursor: pointer
	&-usa
		width: 1.1rem
		height: 1.1rem
		cursor: pointer
		svg
			fill: var(--text-color)
	&-arrow
		&-right
			height: .75rem
			svg
				fill: var(--body-color)
				transition: fill var(--trt-1)
		&-left
			height: .75rem
			transform: rotate(180deg)
			svg
				fill: var(--body-color)
				transition: fill var(--trt-1)
		&-down
			height: 1.25rem
			svg
				stroke: var(--item-color)
	&-balance
		width: 3.5rem
		svg
			fill: var(--item-color)
	&-facebook
		display: inline-block
		height: 1.25rem
		svg
			fill: var(--item-color)
	&-twitter
		display: inline-block
		height: 1.25rem
		svg
			fill: var(--item-color)
	&-pin
		display: inline-block
		height: 1.25rem
		svg
			fill: var(--item-color)
	&-play
		display: inline-block
		height: 1.25rem
		svg
			fill: var(--item-color)
			transition: fill var(--trt-1)
	&-like
		width: 1rem
		svg
			fill: var(--item-color)
			transition: fill var(--trt-1)
	&-dislike
		width: 1rem
		transform: rotateX(180deg)
		svg
			fill: var(--item-color)
			transition: fill var(--trt-1)
	&-zoom
		width: 1.5rem
		transition: transform var(--trt-1)
		svg
			fill: var(--table-body)
	&-select
		width: 1.5rem
	&-complete
		width: 1.5rem
	&-applepay
		width: 3.75rem
		svg
			fill: white
	&-paypal
		width: 6rem
		svg
			fill: var(--icon-paypal)
			fill-opacity: 1
			fill-rule: nonzero
			stroke: none
	&-amazonpay
		width: 9rem
	&-afterpay
		width: 7rem
	&-klarma
		width: 7rem
		svg
			fill: #000
	&-billing
		width: 1rem
		svg
			.str0
				stroke: var(--item-color)
				stroke-width: 2px
			.fil0
				fill: none
			.fil1
				fill: var(--item-color)
	&-info
		width: 1rem
		svg
			fill: var(--item-color)
	&-check
		width: 1rem
		svg
			fill: var(--item-color)
	&-review
		width: 4rem
		svg
			fill: var(--item-color)

.svg-img
	display: inline-block
	object-fit: contain
	object-position: center

.standart-card, .recently-card, .advantages-card, .frequently-card
	transition: box-shadow var(--trt-1), transform var(--trt-1)
	&:hover
		box-shadow: var(--box-shadow-card)
		transform: scale(1.01)

.standart-card, .recently-card
	width: 100%
	height: 100%
	padding: var(--bs-card-img-overlay-padding)
	user-select: none
	&-img
		height: 100%
		overflow: hidden
		border-top-left-radius: var(--bs-card-inner-border-radius)
		border-top-right-radius: var(--bs-card-inner-border-radius)
		border-bottom-left-radius: var(--bs-card-inner-border-radius)
		border-bottom-right-radius: var(--bs-card-inner-border-radius)
		img
			width: 100%
			height: auto
			object-fit: cover
			object-position: top
	.card
		&-body
			padding: 1rem 0 0
		&-img-overlay
			display: flex
			flex-direction: column
			align-items: center
			justify-content: flex-end
		&-favorite
			position: absolute
			z-index: 1
			top: 1rem
			right: 1rem
		&-watched
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: .25rem
		&-reviews
			margin-bottom: .4rem
		&-stars
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: .25rem

.frequently-card
	--bs-card-spacer-y: .5rem
	--bs-card-spacer-x: .3rem
	--bs-card-title-spacer-y: 0.5rem
	--bs-card-border-width: 0
	--bs-card-border-color: var(--transparent)
	--bs-card-cap-padding-y: 0.5rem
	--bs-card-cap-padding-x: 1rem
	--bs-card-cap-bg: var(--body-color)
	--bs-card-cap-color: var(--accent)
	--bs-card-color: var(--accent)
	--bs-card-bg: var(--body-color)
	--bs-card-group-margin: 15px
	width: 9.4rem
	padding: calc( var(--bs-card-spacer-x) * 2 ) calc( var(--bs-card-spacer-x) * 2 ) 0
	.card-img, .card-img-top
		border-radius: var(--bs-card-border-radius)
	.card-price, .card-title
		padding-inline: var(--bs-card-spacer-x)
	.card-body
		padding: var(--bs-card-spacer-y) 0

.card-event
	display: flex
	flex-direction: column
	top: 1.5rem
	left: -2rem
	position: relative
	z-index: 5
	&::after
		content: ''
		width: 2rem
		height: 100%
		background: var(--item-color-light)
		transform: skewY(25deg)
		position: absolute
		bottom: -.5rem
		z-index: -1

.vertical-text
	writing-mode: vertical-rl
	transform: rotate(180deg) translateX(10px)

.custom-swiper-slide
	display: flex
	align-items: stretch
	flex-grow: 1
	height: auto

.form-check-lg
	padding-left: 2rem
	white-space: nowrap
	.form-check-input
		width: 1.5rem
		height: 1.5rem
		margin-left: -2em
		border-radius: .25em
		&:checked[type=radio]
			background-image: url(../images/dist/icons/checkbox.svg)
			background-size: 2rem
			background-color: var(--body-color)
		&:checked[type=checkbox]
			background-color: var(--body-color)
			border-color: var(--body-color)
	.form-check-label
		font-size: 1.25rem
		white-space: nowrap
		a
			font-size: 1.25rem

textarea.form-control
	max-height: 250px

.form-control
	border: 1px solid var(--item-color)
	color: var(--item-color)
	&:focus
		border-color: var(--accent)
		-webkit-box-shadow: 0 0 0 0.25rem var(--accent-25)
		box-shadow: 0 0 0 0.25rem var(--accent-25)
		color: var(--item-color)
	&-light
		color: var(--table-body)
		&::placeholder
			color: var(--table-body)
		&:focus
			color: var(--item-color)
	&-dark
		background-color: var(--body-color)
		border-color: var(--text-color)
		color: var(--text-color)
		&::placeholder
			color: var(--text-color)
		&:focus
			color: white
			background-color: var(--body-color)
			&::placeholder
				color: white

//END NEW CLASS ITEM

.popover
	max-width: 310px
	padding: 1.4rem 0.3rem 2.4rem
	background: var(--item-color)
	.popover-header

		&::before
			display: none
		svg
			display: block
			width: 100%
			height: 100%
			object-fit: cover
			fill: var(--accent)
	.popover-body
		color: var(--text-color)
	.popover-arrow
		display: none

	&-custom
		width: 310px
		padding: 1.4rem 1.25rem 2.4rem
		background: var(--item-color)
		.popover-header
			display: flex
			justify-content: center
			align-items: center
			gap: 10px
			font-size: 1.5rem
			font-weight: 400
			background: var(--item-color)
			color: var(--accent)
			border: none
			margin-bottom: 1rem
			svg
				display: block
				width: 2rem
				height: 2rem
				object-fit: cover
				fill: var(--accent)
		.popover-body
			font-size: .95rem

//Reassigning Variables BOOTSTRAP
.btn-primary
	--bs-btn-color: var(--item-color)
	--bs-btn-bg: var(--accent)
	--bs-btn-border-color: var(--accent)
	--bs-btn-hover-color: var(--accent)
	--bs-btn-hover-bg: var(--transparent)
	--bs-btn-hover-border-color: var(--accent)
	--bs-btn-active-color: var(--accent-active)
	--bs-btn-active-bg: var(--transparent)
	--bs-btn-active-border-color: var(--accent-active)
	--bs-btn-disabled-bg: var(--accent-active)
	--bs-btn-disabled-border-color: var(--accent-active)
	--bs-btn-border-width: 2px

.btn-dark
	--bs-btn-color: var(--accent)
	--bs-btn-bg: var(--item-color)
	--bs-btn-border-color: var(--item-color)
	--bs-btn-hover-color: var(--accent)
	--bs-btn-hover-bg: var(--item-color-light)
	--bs-btn-hover-border-color: var(--item-color)
	--bs-btn-active-color: var(--item-color)
	--bs-btn-active-bg: var(--transparent)
	--bs-btn-active-border-color: var(--item-color-light)
	--bs-btn-disabled-bg: var(--item-color-light)
	--bs-btn-disabled-border-color: var(--item-color-light)
	--bs-btn-border-width: 2px

.btn-secondary
	--bs-btn-color: var(--item-color)
	--bs-btn-bg: var(--text-color-light)
	--bs-btn-border-color: var(--text-color-light)

.btn-outline-secondary
	--bs-btn-color: var(--text-color)
	--bs-btn-border-color: var(--text-color)
	--bs-btn-hover-bg: var(--text-color)
	--bs-btn-hover-border-color: var(--text-color)
	--bs-btn-active-bg: var(--text-color)
	--bs-btn-active-border-color: var(--text-color)
	--bs-btn-disabled-color: var(--text-color)
	--bs-btn-disabled-border-color: var(--text-color)

.btn-outline-light
	--bs-btn-border-width: 2px

.bg-dark
	background-color: var(--body-color)!important

.bg-black
	background-color: var(--item-color)!important

.bg-primary
	background-color: var(--accent)!important

.border-secondary
	--bs-secondary-rgb: var(--item-color)

.border-dark
	border-color: var(--item-color-light)!important

.border-primary
	border-color: var(--accent)!important

.text-primary
	color: var(--accent)!important

.text-secondary
	color: var(--item-color-light)!important

.text-black
	color: var(--text-color)!important

.text-dark
	color: var(--text-color-light)!important

.text-bg-primary
	background-color: var(--accent)!important
	color: var(--body-color)!important

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl
	--bs-offcanvas-width: 500px

.accordion
	--bs-accordion-btn-focus-border-color: var(--text-color)
	--bs-accordion-btn-focus-box-shadow: 0 0 0 0.10rem var(--text-color)
	--bs-accordion-btn-padding-x: 0
	--bs-accordion-body-padding-x: 0
	--bs-accordion-btn-icon: url('../images/dist/icons/close.svg')
	--bs-accordion-btn-active-icon: url('../images/dist/icons/close.svg')
	--bs-accordion-btn-icon-width: 0.85rem
	--bs-accordion-border-width: 0

.list-group
	--bs-list-group-color: var(--text-color-light)
	--bs-list-group-action-hover-color: var(--text-color)
	--bs-list-group-action-active-color: var(--item-color-light)
	--bs-list-group-item-padding-x: 0

.breadcrumb
	--bs-breadcrumb-bg: var(--transparent)
	--bs-breadcrumb-padding-x: 0
	--bs-breadcrumb-padding-y: 1rem
	--bs-breadcrumb-margin-bottom: 0
	--bs-breadcrumb-item-active-color: var(--item-color)

.progress
	--bs-progress-height: .25rem
	--bs-progress-bg: var(--item-color)
	--bs-progress-bar-bg: var(--accent)

.form-check
	&-input
		background-color: var(--transparent)
		border: 1px solid var(--text-color-light)
		border-radius: var(--bs-list-group-border-radius)
		transition: border var(--trt-1), border-radius var(--trt-1)
		&:focus
			border-color: var(--accent)
			box-shadow: var(--box-shadow-3)
			border-radius: var(--border-radius)
		&:checked
			background-color: var(--transparent)
			border-color: var(--accent)
	&-dark, &-dark.form-check-lg
		.form-check-input
			background-color: var(--body-color)
			border-color: var(--text-color)
			&:checked
				background-color: var(--text-color)
				border-color: var(--text-color)
		.form-check-label
			color: var(--text-color)

.form-select
	background-color: var(--transparent)
	border: 1px solid var(--item-color)
	color: var(--item-color)
	&:focus
		border-color: var(--accent)
		-webkit-box-shadow: 0 0 0 0.25rem var(--accent-25)
		box-shadow: 0 0 0 0.25rem var(--accent-25)
	&-light
		color: var(--table-body)
		&:focus
			color: var(--item-color)
	&-dark
		color: var(--text-color)
		border-color: var(--text-color)
		background-color: var(--body-color)
		&:focus
			color: white

.input-group, .input-group .btn
	--bs-btn-border-radius: 0.3rem
.input-group
	&:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
	&:not(.has-validation)>:not(:first-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
	&>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback)
		border-radius: var(--bs-btn-border-radius)
	.form-control
		max-width: 49px
		max-height: 49px
		min-width: 49px
		min-height: 49px
		font-size: 1.5rem
		color: var(--item-color)
		background-color: var(--transparent)
		border: 2px solid var(--item-color)
		padding: 0
		&:focus
			background-color: var(--transparent)
			border-color: var(--item-color)
			box-shadow: none
	.btn
		width: 49px
		height: 49px
		border-radius: var(--bs-btn-border-radius)
		--bs-btn-font-size: 1.5rem
		--bs-btn-padding-x: 0
		--bs-btn-padding-y: 0
		--bs-btn-border-width: 2px
		&-outline-secondary
			--bs-btn-color: var(--item-color)
			--bs-btn-border-color: var(--item-color)
			--bs-btn-hover-bg: var(--item-color)
			--bs-btn-hover-border-color: var(--item-color)
			--bs-btn-active-bg: var(--item-color)
			--bs-btn-active-border-color: var(--item-color)
			--bs-btn-disabled-color: var(--item-color)
			--bs-btn-disabled-border-color: var(--item-color)
//END Reassigning Variables

//Reassigning Variables SWIPER.JS
.swiper-wrapper
	cursor: grab

.swiper-container
	width: 80%
	margin-inline: auto
	padding-inline: 1rem

.featured-swiper, .recent-swiper, .advantages-swiper
	padding-block: 3rem

.swiper-pagination-bullet
	width: 3.125rem
	height: .25rem
	border-radius: var(--bs-border-radius)
	background: var(--item-color)
	opacity: 1
	&-active
		background: var(--accent)

.swiper-button-next, .swiper-button-prev
	color: var(--accent)
	background: var(--item-color)
	padding: 2rem
	border-radius: 50%

.swiper-button-next:after
	margin-right: -.5rem
.swiper-button-prev:after
	margin-left: -.5rem

.banner
	.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction
		bottom: -4rem

//END Reassigning Variables SWIPER.JS

.pay-protection
	img:nth-child(1)
		width: 230px
		flex-shrink: 0
	img:nth-child(2)
		width: 90px
		flex-shrink: 0
	img:nth-child(3)
		width: 75px
		margin-top: -.5rem
		flex-shrink: 0

.block-socials
	img
		width: 100%
	a
		flex-shrink: 0
		&:hover
			opacity: 0.75
		&:active, .active
			opacity: 0.5
		&:nth-child(1)
			width: 1.25rem
		&:nth-child(2)
			width: 1.8rem

.accordion-button
	line-height: initial
	cursor: pointer
	&:after
		transform: var(--rotate-icon)

.accordion-link:after
	display: none

.modal
	--bs-modal-bg: var(--body-color)
	--bs-modal-border-width: 0
	--bs-modal-header-border-width: 0
	--bs-modal-footer-border-width: 0
	&-xl
		.modal-content
			min-height: 580px
		.modal-body
			display: flex
			align-items: center

.modal-search, .modal-zoom, .modal-video
	background: var(--body-backdrop)

.modal-qview, .modal-addtobag, .modal-installments, .modal-guide, .modal-notific
	background-color: var(--body-backdrop-50)

.modal-search
	&.modal
		--bs-modal-bg: var(--transparent)
		--bs-modal-border-width: 0
		--bs-modal-header-border-width: 0
		--bs-modal-footer-border-width: 0
	.icon-search
		left: 2rem

.modal-zoom
	&-img
		margin-inline: auto
		border-radius: var(--border-radius)
		img
			border-radius: var(--border-radius)

	&.modal
		--bs-modal-bg: var(--transparent)
		--bs-modal-border-width: 0
		--bs-modal-header-border-width: 0
		--bs-modal-footer-border-width: 0

	.btn-close
		right: 2rem
		top: 2rem

	.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction
		bottom: 1rem

	.zoom-button-next, .swiper-rtl .zoom-button-prev
		right: 4rem
	.zoom-button-prev, .swiper-rtl .zoom-button-next
		left: 4rem

.modal-installments
	&.modal
		--bs-modal-padding: 1rem
		--bs-modal-margin: 0.5rem
		--bs-modal-header-padding-x: 1rem
		--bs-modal-header-padding-y: 1rem
		--bs-modal-header-padding: 1rem 1rem
		--bs-modal-footer-gap: 0.5rem
	.modal-content
		color: var(--text-color)
	.icon-bag, .icon-select, .icon-complete
		width: auto
		height: 3.5rem
		cursor: default
	.modal-footer-img
		border-right: 3px solid var(--item-color)

.modal-guide
	.list-group
		--bs-list-group-bg: var(--transparent)
		--bs-list-group-item-padding-y: 0.1rem
		--bs-list-group-active-color: var(--accent)
		--bs-list-group-active-bg: var(--item-color)
		--bs-list-group-active-border-color: var(--transparent)
		--bs-list-group-border-color: var(--item-color)
		--bs-list-group-border-radius: 0
		&-item
			border: none
			border-bottom: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color)
			div
				min-width: 60px
				text-align: center

.modal-notific
	.form-control
		background-color: var(--transparent)
		border: 1px solid var(--text-color)
		color: var(--text-color)
		font-size: 1.25rem

.modal-video
	.btn-close
		right: 2rem
		top: 2rem
	&.modal
		--bs-modal-bg: var(--transparent)
	video
		width: 100%
		border-radius: var(--border-radius)

.modal-qview
	.card-reviews
		.icon-star
			margin-inline: .1rem
	.btn-link
		--item-color: var(--text-color)
	.form-select
		--item-color: var(--text-color)
	.input-group
		.form-control,
		.btn-outline-secondary
			--item-color: var(--text-color)
	.modal-qview-slider, .modal-qview-slider-thumbs
		img
			border-radius: 0.5rem
		.img-thumbnail
			border-color: var(--item-color)
			background-color: var(--item-color)
	.modal-qview-slider
		width: 95%
		margin-inline: auto
	.modal-qview-slider-thumbs
		width: 55%
	.modal-qview-tumb-button-prev, .modal-qview-tumb-button-next
		top: var(--swiper-navigation-top-offset,45%)
		color: var(--item-color)
		background-color: var(--transparent)

.modal-addtobag, .modal-qview
	.modal-body
		padding: calc( var(--bs-modal-padding) * 2 ) var(--bs-modal-padding)
	.btn
		--bs-btn-padding-x: 0.5rem
	.wrapper-img-thumbnail
		border-radius: .5rem
		padding: .5rem
		background-color: var(--item-color)
		.img-thumbnail
			border-radius: 0.5rem
			padding: 0
			border-color: var(--item-color)

.modal-hear-xunder
	.modal-body
		display: block
		padding-inline: 0
	.list-group
		--bs-list-group-bg: var(--transparent)
		--bs-list-group-color: var(--text-color)
		--bs-list-group-border-color: var(--transparent)
		--bs-list-group-border-width: 0
		--bs-list-group-border-radius: 0
		--bs-list-group-action-color: var(--transparent)
		--bs-list-group-action-hover-color: var(--transparent)
		--bs-list-group-action-hover-bg: var(--transparent)
		--bs-list-group-action-active-color: var(--transparent)
		--bs-list-group-action-active-bg: var(--transparent)
		--bs-list-group-disabled-color: var(--transparent)
		--bs-list-group-disabled-bg: var(--transparent)
		--bs-list-group-active-color: var(--transparent)
		--bs-list-group-active-bg: var(--transparent)
		--bs-list-group-active-border-color: var(--transparent)
		.list-group-item, .form-check-label
			white-space: nowrap
		.form-check-input
			--text-color-light: var(--text-color)
		.form-check-label
			padding-left: .3rem
