.account
	&-info
		padding-block: 4rem
		border-bottom: 1px solid var(--table-body)
		.icon-bag, .icon-favorite, .icon-order, .icon-subscriptions, .icon-rewards
			width: auto
			height: 5rem
			margin-bottom: 1rem
			cursor: pointer
			svg
				fill: currentColor
		.btn-arrow
			--text-color: var(--item-color)
			&:hover
				color: var(--accent)
				svg
					transition: fill var(--trt-1), transform var(--trt-1)
					fill: var(--accent)

		
		.account-info-prev, .account-info-next
			color: var(--item-color)
			background-color: var(--transparent)
			padding-inline: 0
			top: var(--swiper-navigation-top-offset,45%)
		.account-info-prev, .swiper-rtl .account-info-next
			left: 0
		.account-info-next, .swiper-rtl .account-info-prev
			right: 0
		.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction
			bottom: 0

	&-table
		background: var(--table-body)
		border-color: var(--text-color-light)
		th
			font-weight: normal
		.account-table-body *
			border: none
			line-height: 1
	&-balance
		width: 100%
		padding: 3rem 1rem 2.5rem
		background: var(--table-body)

	&-settings
		padding-top: 4rem
		padding-bottom: 3rem
		.btn-custom
			--bs-btn-padding-x: 0.5rem
			--bs-btn-padding-y: 0.25rem
			--bs-btn-color: var(--item-color)
			--bs-btn-bg: var(--transparent)
			--bs-btn-border-width: 0
			--bs-btn-border-color: var(--transparent)
			--bs-btn-hover-border-color: var(--transparent)
			--bs-btn-hover-bg: var(--transparent)
			--bs-btn-hover-color: var(--accent)
			--bs-btn-active-bg: var(--transparent)
			--bs-btn-active-border-color: var(--transparent)
			--bs-btn-active-color: var(--text-color)

	&-affiliate
		&-payment
			padding-block: 4rem
			background: var(--body-color)
			.btn-icon
				right: -7rem
				top: 50%
				transform: translateY(-50%)
				position: absolute
				.icon-info
					width: 1.5rem
					svg
						--item-color: var(--text-color)
		&-modal
			top: 0
			height: 100%
			background-color: var(--body-color)

	&-signin, &-signup, &-password
		color: var(--item-color)
		padding-block: 3rem

	&-signup
		color: var(--item-color)
		.form-check-lg
			padding-left: 2.5rem
			white-space: normal
			.form-check-input
				margin-left: -2.5rem
			.form-check-label
				font-size: var(--font-size)
				white-space: normal
		#showPassword
			--item-color: var(--text-color)
			&:focus-visible
				--bs-btn-color: var(--text-color-light)
				--bs-btn-focus-box-shadow: none
		.tiny-little
			font-size: .5rem

	&-order
		&-wrapper
			padding-block: 1.5rem 4rem
			border-top: 1px solid var(--table-body)
		.btn-dark
			--bs-btn-padding-y: 0.1rem
			max-width: 180px
		.progress
			--bs-progress-height: 0.6rem
			--bs-progress-bg: var(--text-color)
			&-bar
				border-radius: var(--bs-progress-border-radius)
			&-step-1, &-step-2, &-step-3, &-step-4, &-step-5
				bottom: .25rem
				font-size: 1.25rem
				color: var(--text-color)
				transition: color var(--trt-1)
				&.active
					color: var(--accent)
			&-step-1
				left: 0
			&-step-2
				left: 25%
			&-step-3
				left: 45%
			&-step-4
				right: 30%
			&-step-5
				right: 0
		.orders
			.order-item
				border-bottom: 1px solid var(--table-body)
				padding-block: 1.5rem
				&:first-child
					padding-top: 0
				&:last-child
					padding-bottom: 0
					border-bottom: none

	&-history
		padding-bottom: 4rem
		.history-orders
			& + .history-orders
				margin-top: 6rem
		.history-wrapper
			border-block: 1px solid var(--table-body)
			.img-thumbnail
				padding: 0
			.history-order
				border-bottom: 1px solid var(--table-body)
				padding-block: 1.5rem
				&:last-child
					border: none
				.history-item + .history-item
					margin-top: 1.5rem
				.btn-history-item
					max-width: 230px
