.account
	&-info
		padding-block: 4rem 6rem
		border-bottom: 1px solid var(--table-body)
		.icon-bag, .icon-favorite, .icon-order
			width: auto
			height: 5rem
			margin-bottom: 1rem
			cursor: pointer
			svg
				fill: currentColor
		.btn-arrow
			--text-color: var(--item-color)
			&:hover
				color: var(--accent)
				svg
					transition: fill var(--trt-1), transform var(--trt-1)
					fill: var(--accent)

	&-table
		background: var(--table-body)
		border-color: var(--text-color-light)
		th
			font-weight: normal
		.account-table-body *
			border: none
			line-height: 1
	&-balance
		width: 100%
		padding: 3rem 1rem 2.5rem
		background: var(--table-body)

	&-settings
		padding-top: 4rem
		padding-bottom: 3rem
		.btn-custom
			--bs-btn-padding-x: 0.5rem
			--bs-btn-padding-y: 0.25rem
			--bs-btn-color: var(--item-color)
			--bs-btn-bg: var(--transparent)
			--bs-btn-border-width: 0
			--bs-btn-border-color: var(--transparent)
			--bs-btn-hover-border-color: var(--transparent)
			--bs-btn-hover-bg: var(--transparent)
			--bs-btn-hover-color: var(--accent)
			--bs-btn-active-bg: var(--transparent)
			--bs-btn-active-border-color: var(--transparent)
			--bs-btn-active-color: var(--text-color)

	&-affiliate
		&-payment
			padding-block: 4rem
			background: var(--body-color)
			.btn-icon
				right: -7rem
				top: 50%
				transform: translateY(-50%)
				position: absolute
				.icon-info
					width: 1.5rem
					svg
						--item-color: var(--text-color)
		&-modal
			top: 0
			height: 100%
			background-color: var(--body-color)

	&-signup
		color: var(--item-color)
		.form-check-lg
			padding-left: 2.5rem
			white-space: normal
			.form-check-input
				margin-left: -2.5rem
			.form-check-label
				font-size: var(--font-size)
				white-space: normal
		.btn-link
			--item-color: var(--text-color)
			&:focus-visible
				--bs-btn-color: var(--text-color-light)
				--bs-btn-focus-box-shadow: none
		.tiny-little
			font-size: .5rem
