.affiliate
	&-form
		color: var(--item-color)
		padding-block: 5rem
		.form-control
			border: 1px solid var(--item-color)
			color: var(--table-body)
			&::placeholder
				color: var(--table-body)
			&:focus
				border-color: var(--accent)
				-webkit-box-shadow: 0 0 0 0.25rem var(--accent-25)
				box-shadow: 0 0 0 0.25rem var(--accent-25)
		.form-select
			color: var(--table-body)
		.form-check-custom
			display: flex
			align-items: center
			min-height: 3rem
			.form-check
				padding-left: 2rem
				white-space: nowrap
				&-input
					width: 1.5rem
					height: 1.5rem
					margin-left: -2em
					border-radius: .25em
					&:checked[type=radio]
						background-image: url(../images/dist/icons/checkbox.svg)
						background-size: 2rem
						background-color: var(--body-color)
				&-label
					font-size: 1.25rem
					white-space: nowrap
		.form-check
			padding-left: 2rem
			&-input
				width: 1.5rem
				height: 1.5rem
				margin-left: -2rem
				&:checked
					background-color: var(--body-color)
					border-color: var(--body-color)
			&-label
				font-size: 1.25rem
				a
					font-size: 1.25rem

