.banner
	&-swiper
		padding-bottom: 5rem
	&-img-overlay
		max-width: calc( 100px + 16vw )
		padding: calc( 10px + 2.3vw )
		margin-bottom: -5rem
		.card-title
			font-size: calc( 1rem + 3vw )
			font-weight: 300