.banner
	&-img-overlay
		display: flex
		flex-direction: column
		justify-content: center
		height: 100%
		max-width: calc( 100px + 16vw )
		padding: calc( 10px + 2.3vw )
		.card
			&-title
				font-size: calc( 2rem + 4vw )
				font-weight: 300
				line-height: 1
			&-subtitle
				display: block
				font-size: calc( .1rem + .5vw )
				letter-spacing: 0.3rem
				margin-bottom: 3rem
		.btn
			margin-bottom: 2rem
			&-title
				font-size: calc( 1rem + 2.9vw )
				font-weight: 300
				margin-bottom: 1rem