.featured
	&-swiper
		width: 80%
		margin-inline: auto
		padding-bottom: 5rem
		&-slide
			display: flex
			align-items: stretch
			flex-grow: 1
			height: auto
	&-card
		height: 100%
		padding: var(--bs-card-img-overlay-padding)
	.card-img-overlay
		display: flex
		flex-direction: column
		align-items: center
		justify-content: flex-end
	.card-watched
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: .4rem
	.card-reviews
		margin-bottom: .4rem
	.card-stars
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: .25rem
