.footer
	&-top
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
		img
			width: 100%
		&-pay
			max-width: 635px
		&-protection
			img:nth-child(1)
				width: 230px
				flex-shrink: 0
			img:nth-child(2)
				width: 90px
				flex-shrink: 0
			img:nth-child(3)
				width: 75px
				flex-shrink: 0
		&-socials
			a:nth-child(1)
				width: 20px
				flex-shrink: 0
			a:nth-child(2)
				width: 30px
				flex-shrink: 0
	&-bottom
		font-size: .8rem