.gift
	display: flex
	align-items: center
	min-height: 500px
	margin-top: -1px
	&-title
		max-width: 500px
	&-card
		width: 250px
		height: 150px
		background: var(--text-color)
		box-shadow: var(--box-shadow-2)
		&-50
			right: 200px
			z-index: 2
		&-100
			top: -100px
			margin-left: auto
			z-index: 1
		&-150
			right: 70px
			bottom: -110px
			z-index: 3
		&-decor
			&::after, &::before
				content: ''
				width: 120%
				height: 1px
				background: var(--item-color-light)
				position: absolute
				top: 50%
				left: 50%
			&::after
				transform: translate(-50%) rotate(30deg)
			&::before
				transform: translate(-50%) rotate(-30deg)

	&-form
		.icon-star
			width: 1.5rem
			margin-inline: .1rem
			&:first-child
				margin-left: 0
		.gift-card-tumb-button-prev, .gift-card-tumb-button-next
			--swiper-navigation-size: 1.25rem
			padding: 1rem
			color: var(--item-color)
			background-color: var(--transparent)
		.gift-card-tumb-button-prev, .swiper-rtl .swiper-button-next
			right: var(--swiper-navigation-sides-offset,40px)
			left: auto

		.swiper-slide-thumb-active
			&::after
				content: ''
				position: absolute
				inset: 0
				background-color: var(--item-color-25)
				border-radius: .375rem
			&::before
				content: ''
				width: 1.5rem
				height: 1.5rem
				position: absolute
				top: .5rem
				right: .5rem
				background-image: url(../images/dist/icons/check-light.svg)
				background-position: center
				background-size: cover
				background-repeat: no-repeat