.header
	&-dropdown
		max-height: 310px
	&-dropdown, .offcanvas-body
		/* Стилизация скроллбара */
		/* Толщина скроллбара */
		&::-webkit-scrollbar
			width: 2px

		/* Цвет фона скроллбара */
		&::-webkit-scrollbar-track
			background: var(--item-color)

		/* Цвет полоски скроллбара */
		&::-webkit-scrollbar-thumb
			background-color: var(--item-color-light)
			border-radius: 5px

		/* Цвет полоски скроллбара при наведении */
		&::-webkit-scrollbar-thumb:hover
			background-color: var(--text-color)
	.dropdown-menu
		min-width: 380px
	.dropdown-overflow
		&::-webkit-scrollbar
			display: none
	.dropdown-item
		&:is(:focus, :active)
			background: var(--item-color-light)
		&:hover
			background: var(--text-color)
	.dropdown-card
		&:first-child
			padding-top: 0!important
	.dropdown-toggle:after
		display: none
	.empty-cart-msg
		display: none
		min-height: 150px

	.accordion-body
		padding: 0 var(--bs-accordion-body-padding-x) var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x)
	.accordion-button:not(.collapsed)
		box-shadow: none

	.list-group-item
		padding: 0
