.modal
	&-search
		background: rgba(26,26,26, .9)
		.modal
			&-content
				background: var(--transparent)
				border: none
			&-header
				border-bottom: none
			&-footer
				border-top: none
		.icon-search
			left: 2rem
	.btn-link
		--item-color: var(--text-color-light)
		padding: .75rem