@include media-breakpoint-up(xxl)
	.container
		max-width: 1720px

@include media-breakpoint-down(md)
	.container
		max-width: 700px

	.welcome
		&__bg
			background-size: cover
		&__item
			box-shadow: 0 0 2.25rem 0.75rem #000
			&::after
				right: -200%
			&::before
				height: 30px
			&:last-child::after
				left: -200%

	.strip
		height: 30px

	.header
		&-logo
			width: 100px
		&-navbar
			width: 40px
			height: 30px
		&-current
			font-size: .625rem

	.hero
		&-swiper
			&-overlay
				padding-top: 2.5rem
				position: static
			&-content
				max-width: unset
			&-title
				font-size: calc( 2.4rem + .4vw )
			&-text
				max-width: 400px
				font-size: calc( 1.3rem + .4vw )

@include media-breakpoint-down(sm)
	.welcome
		&__item
			&::after
				right: -480%
			&:last-child::after
				left: -480%

	.header
		&-logo
			width: 80px
		&-navbar
			width: 35px
			height: 30px
		&-current
			font-size: .5rem
		.dropdown-menu
			min-width: 300px

	.hero
		&-swiper
			&-overlay
				position: static
			&-title
				font-size: calc( 2.2rem + .6vw )
			&-text
				max-width: 400px
				font-size: calc( 1.1rem + .6vw )
