@include media-breakpoint-up(xxl)
	.container
		max-width: 1720px

@include media-breakpoint-down(xxl)
	:root
		--clock-fs: 2.5rem

	.banner
		&-img-overlay
			max-width: 260px
			padding: 1.9rem
			.card
				&-title
					font-size: 4.5rem
				&-subtitle
					margin-bottom: 2rem
			.btn-title
				font-size: var(--clock-fs)

	.footer
		&-top
			gap: 1rem
			&-pay
				order: 1
			&-items
				width: 100%

@include media-breakpoint-down(xl)
	:root
		--clock-fs: 2rem

	.featured
		.card-title
			font-size: calc( 1rem + .65vw )

	.banner
		&-img-overlay
			max-width: 220px
			padding: 1.7rem
			.card
				&-title
					font-size: 3.8rem
				&-subtitle
					margin-bottom: 1.5rem
			.btn
				margin-bottom: 1rem
				&-title
					font-size: var(--clock-fs)
					margin-bottom: 0.5rem

@include media-breakpoint-down(lg)
	:root
		--clock-fs: 1.5rem

	.swiper-button-next
		right: -.5rem
	.swiper-button-prev
		left: -.5rem

	.alert-info
		.swiper-container
			width: 75%

	.banner
		&-img-overlay
			max-width: 160px
			padding: 1.2rem
			margin-bottom: -2.5rem
			.card
				&-title
					font-size: 2.8rem
				&-subtitle
					margin-bottom: 1rem
			.btn
				font-size: .8rem
				&-title
					font-size: var(--clock-fs)

	.notification
		&-form
			.form-control
				max-width: 100%

@include media-breakpoint-down(md)
	:root
		--clock-fs: calc(.1rem + 4vw)

	.container
		max-width: 700px

	.section
		padding-top: 5rem

	.badge
		--bs-badge-font-size: calc( .5rem + 1vw )

	.swiper-container
		width: 70%

	.swiper-pagination-bullet
		width: calc( 2.2rem + 2vw )

	.alert-info
		.btn-close-word
			padding: .75rem
			width: .5rem
			background-position: center

	.welcome
		&__bg
			background-size: cover
		&__item
			box-shadow: 0 0 2.25rem 0.75rem #000
			&::after
				right: -180%
			&::before
				height: 30px
			&:last-child::after
				left: -180%

	.strip
		height: 30px

	.header
		&-navbar
			width: 40px
			height: 30px
		&-current
			font-size: .625rem

	.hero
		&-swiper
			&-overlay
				padding-top: 2.5rem
				position: static
			&-content
				max-width: unset
				margin-bottom: 0
			&-title
				font-size: calc( 2.4rem + .4vw )
			&-text
				max-width: 400px
				font-size: calc( 1.3rem + .4vw )

	.featured
		.btn
			font-size: calc( .5rem + 1vw )
			max-width: calc( 150px + 1vw )

	.banner
		.swiper-container
			width: 100%
		&-img-overlay
			max-width: calc(10px + 25vw)
			padding: calc(1px + 3vw)
			.card
				&-title
					font-size: calc( .1rem + 7vw )
			.btn
				font-size: calc(.1rem + 1.5vw)
				&-title
					font-size: var(--clock-fs)
					margin-bottom: .4rem

	.advantages
		.swiper-container
			width: 60%

@include media-breakpoint-down(sm)
	.section
		padding-top: 3.5rem
		padding-bottom: 3rem

	.swiper-container
		width: 85%

	.swiper-button-next, .swiper-button-prev
		padding: calc( 1rem + 1.5vw )
		&::after
			font-size: calc( 1rem + 2vw )
	.swiper-button-next:after
		margin-right: -.2rem
	.swiper-button-prev:after
		margin-left: -.2rem

	.welcome
		&__item
			&::after
				right: -480%
			&:last-child::after
				left: -480%

	.alert-info
		.swiper-container
			width: 90%
		.alert-swiper-slide
			div
				max-width: 240px
				margin-inline: auto

	.header
		&-logo
			width: 80px
		&-navbar
			width: 35px
			height: 30px
		&-current
			font-size: .5rem
		.dropdown-menu
			min-width: 300px

	.hero
		&-swiper
			&-overlay
				position: static
			&-title
				font-size: calc( 2.2rem + .6vw )
			&-text
				max-width: 400px
				font-size: calc( 1.1rem + .6vw )

	.featured
		&-card
			padding: .75rem
		.card
			&-body
				padding-top: .75rem
			&-stars, &-reviews
				margin-bottom: 0

	.featured, .banner, .advantages
		.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction
			bottom: -2rem

	.banner
		.swiper-container
			width: 100%
		&-img-overlay
			max-width: calc(50px + 25vw)
			padding: calc(.1px + 3vw)
			.card
				&-title
					font-size: calc( .1rem + 9vw )
			.btn
				font-size: calc(.1rem + 1.5vw)
				margin-bottom: .6rem
				&-title
					font-size: var(--clock-fs)
					margin-bottom: .3rem

	.advantages
		.swiper-container
			width: 70%

	.notification-form
		.btn
			width: 100%

	.footer-top
		&-protection
			img:nth-child(1)
				width: 30vw
			img:nth-child(2)
				width: 14vw
			img:nth-child(3)
				width: 14vw

	.cookie-alert
		.btn
			display: block
			max-width: unset
